*.cmake
cmake.*
*.log
*.bin
Makefile*
CMakeCache.txt
CMakeFiles/feature_tests.c
*.marks
*.make
*.cxx
*.out
CMakeFiles/TargetDirectories.txt
CMakeFiles/cpp_snippets.dir/link.txt
*CompilerId.*
CMakeFiles/cpp_snippets.dir/CXX.includecache
CMakeFiles/cpp_snippets.dir/depend.internal
